@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Inter', sans-serif;
  --primary-color: #131319;
  --secondary-color: #27292d;
  --foreground-color: #191920;
  /* text colors */
  --default-text-color: #7f8084;
  --heading-text-color: #c5c7ca;
  /* border colors */
  --default-border-color: #35373b;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--default-text-color);
}

::selection {
  background-color: var(--secondary-color);
  color: var(--heading-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-heading;
}

span {
  @apply text-sm;
}

@layer components {
  .card {
    @apply border-2 border-default-border;
    @apply py-6 px-5;
    @apply bg-secondary;
    @apply rounded-lg;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.5));
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
